/node_modules
/public/hot
/public/storage
/public/dist
/public/css
/public/js
/public/fonts
/public/webfonts
/public/images/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
