.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background:#212529a8;
    bottom:calc(50% - 4rem);
    color:#fff;
    font-size:4rem;
    position:absolute;
    padding: 0 .5rem !important;
}
.owl-carousel .owl-nav button.owl-prev {
    left:0
}
.owl-carousel .owl-nav button.owl-next {
    right:0
}
.owl-carousel.w-75 .owl-nav button.owl-prev {
    left:-2rem
}
.owl-carousel.w-75 .owl-nav button.owl-next {
    right:-2rem
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #e87d24b8;
    color: #FFF;
    text-decoration: none;
}

